body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(45deg, black, grey, white, grey, black);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    font-family: Arial, sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cv-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden; /* to hide overflow caused by animation */
}

.cv-container:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(45deg, #03a1e6, #0e5d84);
    border-radius: 12px;
    z-index: -1;
    animation: flashy 5s ease infinite; /* flashy animation */
}

@keyframes flashy {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cv-image {
    width: 100px;
    height: auto;
    border-radius: 200px;
    float: right; /* change float direction */
    margin-left: 20px; /* adjust margin */
    margin-right: 0; /* remove margin-right */
}
.section {
    clear: both;
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.section p {
    margin: 5px 0;
}

.section strong {
    color: #007bff;
}

.section ul {
    padding-left: 20px;
}

.section ul li {
    list-style-type: none;
}

/* Personal Information */
#personal-info {
    font-size: 16px;
}

/* Education */
#education {
    font-size: 16px;
}

/* Experience */
#experience {
    font-size: 16px;
}

/* Responsibilities */
#experience ul {
    font-size: 14px;
}

/* Contact Information */
#contact-info {
    background-color: #0e5d84;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Highlights */
#highlights {
    background-color: #03a1e6;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}

