body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(45deg, black, grey, white, grey, black);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    font-family: Arial, sans-serif;
    background-image:url(plane.gif) ;

}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cv-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 100px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden; /* to hide overflow caused by animation */
    display: flex;
    background-image:url(tower.webp) ;
}

.left-section {
    flex: 1;
    padding-right: 50px;
    border-right: 2px solid #ccc; /* Add border to the right */

}

.right-section {
    flex: 2;
    padding-left: 10px;
    padding-right: 20px;
    
}

.cv-image {
    width: 150px;
    height: auto;
    display: flex;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.section p {
    margin: 5px 0;
}

.section strong {
    color: #007bff;
}
